<p>SignUp Form!</p>

<form class ="p"> 
<div>
    <mat-form-field >
        <mat-label>First Name</mat-label>
        <input type="text" matInput>
         </mat-form-field>
</div>
<div>
    <mat-form-field >
        <mat-label>Last Name</mat-label>
        <input type="text" matInput>
         </mat-form-field>
</div>
<div>
    <mat-form-field >
        <mat-label>User Name</mat-label>
        <input type="text" matInput>
         </mat-form-field>
</div>
<div>
    <mat-form-field >
        <mat-label>Email id</mat-label>
        <input type="text" matInput>
         </mat-form-field>
</div>
<div>
    <mat-form-field >
        <mat-label>Mobile number</mat-label>
        <input type="text" matInput>
        <span matPrefix>+91 &nbsp;</span>
         </mat-form-field>
</div>
<div>
    <mat-form-field >
        <mat-label>Password</mat-label>
        <input type="text" matInput>
         </mat-form-field>
</div>
<div>
    <mat-form-field >
        <mat-label>Confirm Password</mat-label>
        <input type="text" matInput>
         </mat-form-field>
</div>
<button mat-raised-button color="primary">Owner Submit</button>
<button mat-raised-button  color="primary">Back</button>
<form></form>