<div class = "container">
    <h2> User  Reg Form</h2>

    <form>
        <div class = form-group>
            <label form ="firstname">First Name</label><br>
            <input type="text" value="firstname" class="form-group">
        </div>
        <pre></pre>
        <div class = form-group>
            <label form ="lastname">Last Name</label><br>
            <input type="text" value="lastname" class="form-group">
        </div>
        <pre></pre>
        <div class = form-group>
            <label form ="email">Email</label><br>
            <input type="text" value="email" class="form-group">
        </div>
        <pre></pre>

        <div class = form-group>
            <label form ="password">Password</label><br>
            <input type="text" value="password" class="form-group">
        </div>
        <pre></pre>
        
        <button class ="btn btn-primary" type ="submit">Submit</button>
        
    </form>

</div>
