<div class="container" >
    <h2>User reg Form</h2>
    <form [formGroup]="sampleComponanet" >
        <!-- *ngIf="sampleComponanet" -->

        <label>First Name</label><br>

        <input type="text" formControlName="userName"><br>
        <span class="err" *ngIf="sampleComponanet.get('userName')?.errors?.['maxlength']">
            Max 7 Char Allowed </span>
        <span class="err" *ngIf="sampleComponanet.get('userName')?.errors?.['minlength']">
            Minimum 3 characters are required </span>
        <span class="err" *ngIf=" !sampleComponanet.get('userName')?.errors?.['maxlength'] 
         && !sampleComponanet.get('userName')?.errors?.['minlength']
         && sampleComponanet.get('userName')?.errors?.['pattern']">
            Enter only Alphabets
        </span>
        <br>
        <br>

        <button (click)="submit()" [disabled]="!sampleComponanet.valid">Submit</button><br>
        <br>
    </form>

</div>
<div></div>