<div>
    <h2>Owner-login-Form</h2>
    <form [formGroup]="loginForm" >

        <mat-form-field>
            <mat-label>User Name</mat-label>
            <input type="text" matInput formControlName="UserName" maxlength="10" minlength="5">
            <mat-hint *ngIf="!loginForm.get('UserName')?.touched">Please enter User Name </mat-hint>
            <mat-error>User Name is <strong>required</strong></mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label> Password</mat-label>
            <input type="text" matInput [type]="showpass ? 'text' : 'password'"  formControlName="password">
            <mat-icon (click)="showPassword()"  matSuffix>visibility_off</mat-icon>
            <mat-hint *ngIf="!loginForm.get('password')?.touched" class="hint">Please Enter Password</mat-hint> 
            <mat-error>Password is <strong>required</strong></mat-error> 
       
        </mat-form-field>
        <br>

        <button mat-raised-button routerlink="ownersuccess" color="primary" (click)="login()">Login</button>
        <button mat-raised-button routerLink="signup" color="accent">New User</button>

    </form>

</div>